<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DDLS Classroom Services</title>
    <link rel="stylesheet" href="css/foundation.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div id="app" class="row wrapper">
      <div class="large-2 columns">&nbsp</div>
      <div class="large-8 columns">
        <header class="clearfix">
          <div class="float-right">
            <a href="https://www.ddls.com.au/">
              <img data-interchange="[images/ddls-logo-144.png, small], [images/ddls-logo-300.png, medium], [images/ddls-logo-300.png, large]">
            </a>
          </div>
          <div class="cs-title float-left">
            <h2 class="header">Classroom</h2>
            <h2 class="header">Services</h2>
          </div>
        </header>

        <div v-if="loaded" class="cs-common-container expanded button-group">
          <a :id="link.name" class="button has-tip" data-tooltip data-disable-hover='false':title=link.description :href=link.url v-for="link of resources.common.links">
            <span v-cloak>{{link.name}}</span>
          </a>
        </div>

        <div v-if="loaded" class="cs-tab-container">
          <ul class="tabs cs-tabs" id="vendor-tabs" data-tabs>
            <li class="tabs-title is-active"><a href="#microsoft-tab">Microsoft</a></li>
            <li class="tabs-title"><a href="#cisco-tab">Cisco</a></li>
            <li class="tabs-title"><a href="#citrix-tab">Citrix</a></li>
            <li class="tabs-title"><a href="#vmware-tab">VMWare</a></li>
            <li class="tabs-title"><a href="#itil-tab">ITIL</a></li>
            <li class="tabs-title"><a href="#whs-tab">WHS</a></li>
            <li class="tabs-title"><a href="#drivers-tab">Drivers</a></li>
            <li class="tabs-title"><a href="#tp-tab">TP</a></li>
          </ul>

          <div class="cs-tabs-content" data-tabs-content="vendor-tabs">
            <div class="tabs-panel is-active" id="microsoft-tab">
              <p v-cloak>{{resources.microsoft.description}}</p>
              <ul>
                <li v-for="link in resources.microsoft.links">
                  <a :href=link.url><p data-tooltip data-disable-hover='false' class='has-tip' :title=link.description v-cloak v-cloak>{{link.name}}</p></a>
                </li>
              </ul>
            </div>
            <div class="tabs-panel" id="cisco-tab">
              <p v-cloak>{{resources.cisco.description}}</p>
              <ul>
                <li v-for="link in resources.cisco.links">
                  <a :href=link.url><p data-tooltip data-disable-hover='false' class='has-tip' :title=link.description v-cloak>{{link.name}}</p></a>
                </li>
              </ul>
            </div>
            <div class="tabs-panel" id="citrix-tab">
              <p v-cloak>{{resources.citrix.description}}</p>
              <ul>
                <li v-for="link in resources.citrix.links">
                  <a :href=link.url><p data-tooltip data-disable-hover='false' class='has-tip' :title=link.description v-cloak>{{link.name}}</p></a>
                </li>
              </ul>
            </div>
            <div class="tabs-panel" id="vmware-tab">
              <p v-cloak>{{resources.vmware.description}}</p>
              <ul>
                <li v-for="link in resources.vmware.links">
                  <a :href=link.url><p data-tooltip data-disable-hover='false' class='has-tip' :title=link.description v-cloak>{{link.name}}</p></a>
                </li>
              </ul>
            </div>
            <div class="tabs-panel" id="itil-tab">
              <p v-cloak>{{resources.itil.description}}</p>
              <ul>
                <li v-for="link in resources.itil.links">
                  <a :href=link.url><p data-tooltip data-disable-hover='false' class='has-tip' :title=link.description v-cloak>{{link.name}}</p></a>
                </li>
              </ul>
            </div>
            <div class="tabs-panel" id="whs-tab">
              <p v-cloak>{{resources.whs.description}}</p>
              <ul>
                <li v-for="linkwhs in resources.whs.links">
                  <a :href=linkwhs.url><p data-tooltip data-disable-hover='false' class='has-tip' :title=linkwhs.description v-cloak>{{linkwhs.name}}</p></a>
                </li>
              </ul>
            </div>
            <div class="tabs-panel" id="drivers-tab">
              <p v-cloak>{{resources.drivers.description}}</p>
              <ul>
                <li v-for="linkdrivers in resources.drivers.links">
                  <a :href=linkdrivers.url><p data-tooltip data-disable-hover='false' class='has-tip' :title=linkdrivers.description v-cloak>{{linkdrivers.name}}</p></a>
                </li>
              </ul>
            </div>
            <div class="tabs-panel" id="tp-tab">
              <p>Telepresence Phonebook</p>
              <table class="hover">
                <thead>
                  <tr>
                    <th>Site</th>
                    <th>Uri</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="contact in phonebook">
                    <td>{{contact.DisplayName}}</td>
                    <td>{{contact.ContactMethodGroup.ContactMethod.Uri}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="large-2 columns">&nbsp</div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/what-input.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/vue-resource.min.js"></script>
    <script src="js/x2js.js"></script>
    <script src="js/cs-app.js"></script>
    <script>
      $(document).foundation();
  </script>
  </body>
</html>
